<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--这个就是spring配置文件（spring容器）:包含了spring和mybatis的配置-->
    <!--1.扫描包-->
    <context:component-scan base-package="com.swjd.*"/>
    <!--2.加载外部数据库文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--3.配置德鲁伊连接池-->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.pwd}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>
    <!--4.整合myBatis框架,获取myBatis的工厂-->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!--(1)配置数据源-->
        <property name="dataSource" ref="ds"/>
        <!--(2)指定myBatis映射文件的位置（XXmapper.xml的位置）-->
        <property name="mapperLocations" value="classpath:com/swjd/mapper/*.xml"/>
        <!--配置实体类的别名-->
        <property name="typeAliasesPackage" value="com.swjd.bean"/>
    </bean>
    <!--5.配置myBatisMapper接口层，让spring自动生成实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--哪个包里的接口要自动生成实现类-->
        <property name="basePackage" value="com.swjd.mapper"/>
    </bean>
    <!--6.配置声明式事务-->
    <!--(1)配置平台-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>
    <!--(2)开启注解事务管理-->
    <tx:annotation-driven/>
</beans>